* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #d7fff1;
    height: auto;
    min-height: 100vh;
    width: 90vw;
    margin: auto;
    padding: 5px;
    font-family: Arial, sans-serif;
    scrollbar-width: none;
    color: #222;
}


h1{
    text-align:center;
}


hr {
    align-self: stretch;
    border: none;
    border-top: 1px solid #666;
    margin: 15px 0;
}

#periodic-table{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 6px;
  padding: 10px;
  justify-items: center;
  max-width: 95%;
  margin: 20px auto;
}

.periodic-element{
  background: black;
  border: 1px solid rgb(245, 7, 7);
  color: #d7fff1;
  border-radius: 8px;
  padding: 8px;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

.periodic-element .period-label,
.periodic-element .group-label {
  position: absolute;
  font-size: 0.5rem;
  color: #d7fff1;
  opacity: 0.9;
}

.periodic-element .period-label {
  left: 1px;
}

.periodic-element .group-label {
  top: 2px;
  left: 0px;
}


.symbol {
  font-size: 1.3rem;
  font-weight: bold;
  color: #d7fff1;
}

.number {
  font-size: 0.8rem;
  opacity: 0.8;
  color: #d7fff1;
}

.name {
  font-size: 0.7rem;
  opacity: 0.8;
  color: #d7fff1;
}

.periodic-element:hover {
  transform: scale(1.08);
  border-color: rgb(1, 1, 1);
  background-color: white;
}

.periodic-element:hover .name{
      color: #111;
}
.periodic-element:hover .number{
      color: #111;
}
.periodic-element:hover .symbol{
      color: #111;
}
.periodic-element:hover .period-label{
      color: #111;
}
.periodic-element:hover .group-label{
      color: #111;
}

@media (max-width: 1200px) {
  #periodic-table {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (max-width: 900px) {
  #periodic-table {
    grid-template-columns: repeat(8, 1fr);
  }
  .periodic-element {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  #periodic-table {
    grid-template-columns: repeat(5, 1fr);
  }
  .periodic-element {
    width: 55px;
    height: 55px;
  }
  .symbol {
    font-size: 1.1rem;
  }
  .name {
  font-size: 0.6rem;

}
}

@media (max-width: 400px) {
  #periodic-table {
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
  }
  .periodic-element {
    width: 42px;
    height: 42px;
    padding: 6px;
  }
  .symbol {
    font-size: 1rem;
  }
  .number {
    font-size: 0.8rem;
  }
  .name {
  font-size: 0.5rem;
}
}

#guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px dotted red;
    padding: 10px;
    font-size: 0.8rem;
    align-items: center;
}

#guide dt{
    border: 1px solid red;
    border-bottom: none;
    border-top-right-radius: 8px;
}
#guide dd{
    border: 1px solid red;
    border-top: none;
    border-bottom-left-radius: 8px;
}


.element-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.element-symbol {
    font-size: 2rem;
    font-weight: bold;
    color: #2c7ef7;
}

.element-number {
    font-size: 0.95rem;
    color: #666;
}

.element-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 14px;
}

.element-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    white-space: nowrap;
}

.element-info::-webkit-scrollbar{
    width: 10px;
}

.element-info strong {
    color: #155;
}




.element-popup{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  justify-content:center;
  align-items:center;
  z-index:999;
}

#element-popup-content{
    background:white;
    border-radius:8px;
    padding:10px;
    border:1px solid rgba(0,0,0,.15);
    box-shadow:0 6px 20px rgba(0,0,0,.08);
    width:min(600px,90vw);
    max-height:90vh;
    overflow-y:auto;
    scrollbar-width:thin;
}

.headingTopic{
  color:  rgba(0,0,0,.15);
}


.search-element-header, .periodic-table-header{
  width: 90%;
  max-width: 900px;
  margin: 20px auto 10px;
  border: 1px solid  rgba(0,0,0,.15);
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 0 10px  rgba(0,0,0,.15);
}

.search-element{
  width:90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
.searchbar{
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  gap: 8px;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

#searchbox{
  width: 45vw;
  background-color: black;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  margin: auto;
  color: #d7fff1;
  height: 3.5vh;

}

#searchbtn{

  background-color: black;
  width: 10vw;
  height: 3.8vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
}

.search-result{
  background-color: black;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#clearbtn{
  background-color: black;
  width: 30vw;
  height: 3.8vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#clearbtn.clear{
  color: red;
}