* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #d7fff1;
    height: auto;
    min-height: 100vh;
    width: 90vw;
    margin: auto;
    padding: 5px;
    font-family: Arial, sans-serif;
    scrollbar-width: none;
    color: #222;
}

    .allContainer {
      height: 100%;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


h1{
    text-align:center;
}


hr {
    align-self: stretch;
    border: none;
    border-top: 1px solid #666;
    margin: 15px 0;
}

#periodic-table{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 6px;
  padding: 10px;
  justify-items: center;
  max-width: 95%;
  margin: 20px auto;
}

.element{
  background: black;
  border: 1px solid rgb(245, 7, 7);
  color: rgb(5, 5, 43);
  border-radius: 8px;
  padding: 8px;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

.element .period-label,
.element .group-label {
  position: absolute;
  font-size: 0.5rem;
  color: rgb(5, 5, 43);
  opacity: 0.9;
}

.element .period-label {
  left: 1px;
}

.element .group-label {
  top: 2px;
  left: 0px;
}


.symbol {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(5, 5, 43);
}

.number {
  font-size: 0.8rem;
  opacity: 0.8;
  color: rgb(5, 5, 43);
}


.element:hover {
  transform: scale(1.08);
}


@media (max-width: 1200px) {
  #periodic-table {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (max-width: 900px) {
  #periodic-table {
    grid-template-columns: repeat(8, 1fr);
  }
  .element {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 600px) {
  #periodic-table {
    grid-template-columns: repeat(5, 1fr);
  }
  .element {
    width: 55px;
    height: 55px;
  }
  .symbol {
    font-size: 1.1rem;
  }
  .name {
  font-size: 0.6rem;

}
}

@media (max-width: 400px) {
  #periodic-table {
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
  }
  .element {
    width: 42px;
    height: 42px;
    padding: 6px;
  }
  .symbol {
    font-size: 1rem;
  }
  .number {
    font-size: 0.8rem;
  }
  .name {
  font-size: 0.5rem;
}
}

.legend {
  width: 90%;
  max-width: 900px;
  margin: 25px auto 40px;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.legend h3 {
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}

.legend-items1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  padding: 5px;
  border-radius: 20px;
}
.legend-items2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  padding: 5px;
  border-radius: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.legend-item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}

/* Responsive tweaks */
@media (max-width: 600px) {
  .legend-item {
    font-size: 0.8rem;
  }
  .legend-item span {
    width: 16px;
    height: 16px;
  }
}

.element-popup{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  justify-content:center;
  align-items:center;
  z-index:999;
}

#element-popup-content{
    background:#1e1e1e;
    padding:20px;
    width:320px;
    border-radius:12px;
    color:white;
    box-shadow:0 0 12px black;
    animation: popIn 0.2s ease;
}

.headingTopic{
  color:  rgba(0,0,0,.15);
}


.search-element-header, .periodic-table-header{
  width: 90%;
  max-width: 900px;
  margin: 20px auto 10px;
  border: 1px solid  rgba(0,0,0,.15);
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 0 10px  rgba(0,0,0,.15);
}

.search-element{
  width:90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
.search-bar{
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  gap: 8px;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

#search-box{
  width: 45vw;
  background-color: black;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  margin: auto;
  color: #d7fff1;
  height: 3.5vh;

}

#search-btn{

  background-color: black;
  width: 10vw;
  height: 3.8vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
}

.search-result{
  background-color: black;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#search-type-select{
  background-color: black;
  width: 40vw;
  height: 3.5vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#search-method-select{
  background-color: black;
  width: 40vw;
  height: 3.5vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#clear-btn{
  background-color: black;
  width: 30vw;
  height: 3.8vh;
  box-shadow: 2px 2px 2px rgb(34, 30, 30);
  color: #d7fff1;
}

#clear-btn.clear{
  color: red;
}